# files by some soft
*.o
*.~
*.swp
.dy*
.em*
.tm*
*.log
*.m
*.err
log.*
*.bak
*.backup

# files of this project
data.*
*.data
src/in.gups*
include/emake
include/makefile
tags
Plot.nb
init.m
in.gups
gups
